PORT=5000
CLIENT_ORIGIN=http://localhost:3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=acm05!!!
DB_NAME=acm_db
DB_PROFESSORS_TABLE=professors
DB_PIN_COLUMN=pincode
DB_NAME_COLUMN=professor
DB_COMPARTMENT_COLUMN=compartment_qr
DB_DEV_TABLE=developer
DB_DEV_USERNAME_COLUMN=developer
DB_DEV_PASSWORD_COLUMN=password
DEV_USERNAME=developer
DEV_PASSWORD=111111
